 .navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: azure;

 }

.navbar .menu. a{
 font-size: 35px;
    font-weight: 600;
    color: darkgray;
    text-decoration: none;
}

.navbar .menu{

    display: flex;
    position: relative;
}


.navbar .menu li{
    list-style: none;
    margin: 0 8px;
    text-decoration: none;
}


.navbar .menu a{
    font-size: 18px;
    font-weight: 500;
    color: blue;
    padding: 6px 0 ;
    text-decoration: none;
}
.navbar .menu a:hover{
    color: green;

}

.navbar.menu li{
    text-decoration: none;
}







